body {
    color: white;
    background-image:url("../images/zebras-322092_1920.jpg") ;



}

.col{
    border: solid pink 5px;
    height: 75px;
    font-family: 'Slabo 60px', serif;
    text-align: center;

}

#currentWord {
    font-size: xx-large;
}

