body {
    color: white;
    background-image:url("../images/zebras-322092_1920.jpg") ;
    font-family: 'Slabo 100px', serif;


}

.col{
    border: solid pink;
}

#currentWord {
    font-size: xx-large;
}

