body {
    color: white;
    background-image:url("../images/zebras-322092_1920.jpg") ;
    font-family: 'Slabo 27px', serif;
    text-align: center;




}

.col{
    border: solid pink 5px;
    height: 65px;

}

#currentWord {
    font-size: xx-large;
}

